<div class="game">
    <div class="container">
        <div class="col-xs-3 info-table">
            <h1>¡Bienvenido a </h1>
            <h4>Datos</h4>
            <h4>Correo: ceaf.21@gmail.com</h4>
            <h4>Personaje: Simon Bolivar</h4>
            <img src="../assets/images/characters/bolivar.jpg" class="img-circle">
        </div>
        <div class="col-xs-9 grid-table">
            
            <div class="row grid">
                <div class="row" ng-repeat="grid in grids">
                    <div 
                        ng-repeat="grides in grid track by $index" 
                        class="block-potition"
                        ng-class="{'block-active' : grides.active === true}"
                    >

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>