//Game palette

$primary-color: #FAF8EF;
$secundary-color: #776E65;
$third-color: #76BE53;
$fourth-color: #f2f2f2;
$fifth-color: #DFDFDF;
$sixth-color: #D4D4D4;
$seventh-color: #4C4D4F;
$eighth-color: #FFA366;