<script type="text/ng-template" id="modalWin.html">
    <div class="modalWin">
        <div class="modal-header" align="center">
            <h3 class="modal-title" id="modal-title">Congratulations, you won the battle</h3>
        </div>
        <div class="modal-body" id="modal-body">
        <img src="http://2.bp.blogspot.com/-toAe6fLqPc4/UNXapQnL2OI/AAAAAAAAABY/rFK7Iuh9qhc/s1600/ayacucho.jpg" class="img-responsive">
        </div>
        <div class="modal-footer" align="center">
            <button class="btn btn-primary btnWin" type="button" ng-click="resetGame()">Reset game</button>
            <button class="btn btn-warning btnWin" type="button" ng-click="backHome()">Back to the game home</button>
        </div>
    </div>
</script>